@page "/"
@using PKWAT.ScoringPoker.Contracts.ScoringTasks

@inject HttpClient HttpClient

<PageTitle>Tasks to estimate</PageTitle>

<h1>All tasks to estimate</h1>

<ul>
    @foreach (var task in tasks)
    {
        <li>@task.Name</li>
    }
</ul>

@code {
    private IEnumerable<ScoringTaskDto> tasks = new ScoringTaskDto[0];

    protected override async Task OnInitializedAsync()
    {
        var response = await HttpClient.GetFromJsonAsync<GetScoringTasksResponse>("api/ScoringTasks");
        tasks = response.ScoringTasks;
    }
}