@page "/"

<h1>Welcome!</h1>

<p>Scoring Poker is a tool for estimating tasks in a team. It is based on the <a href="https://en.wikipedia.org/wiki/Planning_poker">Planning Poker</a> technique.</p>

<p>It is a simple tool that allows you to estimate tasks together with your team.</p>

<p>It is a web application, so you can use it on any device with a web browser.</p>

@code {

}
